<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Generator</title>
</head>
<body>
    <h3>Write the text you want to start with!</h3>  
      <form action = "http://localhost:5000/predict" method = "POST", enctype = 'multipart/form-data'>  
         <p>Input Text: <input type = "text" name = "input" /></p>   
         <p>Number: <input type = "text" name = "num" /></p>  
         <input type="submit" class="btn-info" value="Generate">
      </form>  
    
</body>
</html>